.portrait {
  width: 400px;
  border-radius: 50% 20% / 10% 40%;
  position: absolute;
  top: 150px;
  left: 600px;
}

.about-container {
  background-color: black;
  height: 100vh;
}

.text-container {
  color: white;
  max-width: 600px;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: absolute;
  top: 100px;
  left: 0;
}

.link-home:hover {
  color: blue;
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}
